<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quyết đê</title>
</head>
<body>
    
    <h1>Ask true or false?</h1>
    <!-- http://localhost:6699 -->
    <form action="/addquestion" method="POST">
        <textarea name="questionContent" id="" cols="30" rows="10"> </textarea>
        <p>Con 200/200 ky tu</p>
        <button type="submit">Gui</button>
    </form>
</body>
</html>